:root {
  --cream-color: #f9fbfe;
  --section-heading: #90919e;
  --border-color: #096f92;
}
.flex-direction-column {
  display: flex;
  flex-direction: column;
}
.ul {
  list-style-type: none;
  overflow-y: auto;
  height: 60vh;
}
.outer-box {
  overflow-x: hidden;
}
.delete-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.bg-cream {
  background-color: var(--cream-color);
}
.hide {
  visibility: hidden;
}
.mb-10 {
  margin-bottom: 10px;
  font-size: 14px;
}
.c-red {
  color: red;
  padding-bottom: 3px; 
}
.min-height-100 {
  min-height: 100vh;
}
.flex-direction-row {
  display: flex;
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.w-100p {
  width: 100%;
}
.todo-app-container {
  width: 90%;
  max-width: 768px;
  font-family: "Bree serif";
  margin-right: 10px;
  margin-left: 10px;
}
.align-items-center {
  align-items: center;
}
.navbar {
  margin-top: 18px;
  margin-bottom: 18px;
  color: var(--near-black-color);
}
.logout-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.navbar-name {
  font-size: 35px;
}
.path {
  stroke: var(--near-black-color);
  stroke-width: 1px;
}
.path-send {
  stroke: var(--cream-color);
  stroke-width: 1px;
}
.section-heading {
  color: var(--section-heading);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
}
.li {
  background-color: #e6f6ff;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 14px;
  border-left: 4px solid var(--border-color);
}
.todo-text {
  margin-left: 26px;
}
.strike-through {
  text-decoration: line-through;
}
.add-todo-icon {
  width: 38px;
  height: 38px;
  margin-top: 14px;
  color: var(--near-black-color);
  cursor: pointer;
  margin-bottom: 12px;
}

.input-ele-div {
  border-radius: 20px;
  border: 0.5px solid var(--section-heading);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 10px;
}
.send-div {
  background-color: var(--near-black-color);
  color: var(--cream-color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-todo-input-element {
  border: 0px;
  font-family: "Bree serif";
  color: var(--near-black-color);
  font-size: 16px;
  outline: none;
  padding-left: 6px;
  margin-right: 10px;
  background-color: var(--cream-color);
}
.no-tasks-box {
  background-color: var(--cream-color);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
}
.add-todo-box {
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .navbar-name {
    font-size: 42px;
  }
  .navbar {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .logout-icon {
    width: 25px;
    height: 25px;
  }
  .section-heading {
    font-size: 20x;
  }
  .li {
    background-color: #e6f6ff;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 16px;
  }
  .todo-text {
    margin-left: 26px;
  }
  .add-todo-icon {
    width: 45px;
    height: 45px;
  }
}
